<!DOCTYPE html>
html(lang="ru")

	include ../layout/head.jade

	body


		.main-wrap
			a.btn-nav(href="#") Про меня			
			include ../layout/_about.jade
			include ../layout/_works.jade
			include ../layout/_technology.jade
			include ../layout/_cooperation.jade

		script(src="js/alignRows.js")
		script(src="js/carousel.js")
		script(src="js/aboutPreloader.js")
		script(src="js/smarthover.js")
		script(src="js/app.js")