<!DOCTYPE html>
html(lang="ru")

	include ../layout/head.jade

		<!-- fancybox -->
		link(rel="stylesheet", href="dflt_js/fancybox/jquery.fancybox.css")
		script(src="dflt_js/fancybox/jquery.fancybox.js")
		<!-- endfancybox -->

	body

		include ../layout/_top-line.jade

		.main

		include ../layout/_footer.jade
