.header {
	padding-top: 40px;
	
	.container {
		@extend .clfx;
	}

		&__logo {
			float: left;
			width: 179px;
			img {
				display: block;
			}
		}

		&__soc {
			float: right;
			width: 189px;
			height: 20px;
			margin-top: 2px;

			background-image: url(../img/tmp/soc.png);
		}


}