.works {
	//transform: translateZ(0);

	.container { 
		padding-top: 20px;
		padding-bottom: 50px;
	}

	&__title {
		
	}

	&__desc {
		margin-bottom: 20px;

		p {
			font-size: $fs-text;
		}
	}

	&__list {
		margin: 0 0 0 -30px;
		@extend .clfx;
		
		.work {
			float: left;			
			width: 380px;
			margin: 30px 0 0 30px;

			&__img {
				
			}
		}
	}

}