// fonts
$f-roboto: 'Roboto', sans-serif;
$f-jura: 'Jura', sans-serif;

// sizes for .container
$container-xsmall: 100%;
$container-small: 750px;
$container-medium: 960px;
$container-large: 1200px;   // defauld

// for sizes media
$media-max-xs: 769px;

$media-min-sm: 770px;
$media-max-sm: 979px;

$media-min-md: 1585px;
$media-max-md: 1610px;

$min-width-large: 1585px;



//font-size
$em: 16;

$fs-title: 48px;
$fs-text: 24px;