// fonts
$f-roboto: 'Roboto', sans-serif;
$f-jura: 'Jura', sans-serif;

// sizes for .container
$container-xsmall: 100%;
$container-small: 750px;
$container-medium: 960px;   // defauld

// for sizes media
$max-width-xxsmall: 480px;
$max-width-xsmall: 769px;

$min-width-small: 770px;
$max-width-small: 979px;

//font-size
$em: 16;