section.about
	.container
		h1.about__title <span>blik3230</span> - Моё портфолио

		.about__img 
			img(src="img/about.jpg", alt="")

		.about__content
			h2.about__subtitle.
				Добро пожаловать на страничку моего портфолио.
			p.
				Меня завут Максим и последние 3 года я занимаюсь разными задачами косаемые разработке web-сайтов. 
			p.
				В основном это front-end, мне он больее приглянулся в связи со своей красочностью и наглядностью для конечного пользователя. В нем я могу реализовывать свой творчиский потанцеал каторый издавна лежыт ко всяким визуальным эффектым. Мне нравится придумывать что-то "этакое", по много часов проводя с ручкой и блокноты просчитывая разные алгоритмы и эффекты.

			p.
				Back-end -ом я тоже занимался. В основном работая с такими CMS как Joomla и Wordpress. Иногда розрабатывал свой функционал для разных форм обратной связи, календарей, рейтингов и других виджетов для web-сайтов.