section.about
	a.btn-close(href="#") Закрыть

	.container
		h1.about__title <span>blik3230</span> - Моё портфолио

		//.about__img
		//	img(src="img/about1.png", alt="")
		//	img(src="img/about-hover.png", alt="")

		.about__content
			h2.about__subtitle.
				Добро пожаловать на страничку моего портфолио.
			p.
				Меня зовут Максим и последние 3 года я занимаюсь разными задачами касаемые разработке web-сайтов.
			p.
				В основном это front-end, мне он более приглянулся в связи со своей красочностью и наглядностью для конечного пользователя. В нем я могу реализовывать свой творческий потенциал который издавна лежит ко всяким визуальным эффектам. Мне нравится придумывать что-то "этакое", по много часов проводя с ручкой и блокноты просчитывая разные алгоритмы и эффекты.

			p.
				Back-end -ом я тоже занимался. В основном работая с такими CMS как Joomla и Wordpress. Иногда разрабатывал свой функционал для разных форм обратной связи, календарей, рейтингов и других виджетов для web-сайтов.