section.section-4
	h1.section-4__title Оставить заявкУ
	
	form.form
		.form__row
			.form__label
				label Меня зовут
			.form__field
				input(type="text", name="name")

		.form__row
			.form__label
				label Я хочу
			.form__field
				select(name="")
					option(value="0") просто задать пару вопросов
					option(value="0") рассчитать стоимость
					option(value="0") сделать заказ
		.form__row
			.form__field
				select(name="")
					option(value="0") по поводу сайтов
					option(value="0") по поводу логотипов и полиграфии
					option(value="0") по поводу верстки

		.form__row
			.form__label
				label Мой e-mail<br>и/или скайп
			.form__field
				input(type="text", name="email")

		.form__row
			.form__label
				label и/или телефон
			.form__field
				input(type="text", name="email")

		.text-right
			button.btn(type="submit") Отправить