section.section-1
	.section-1__bg-top
		.container
			.section-1__content
				p.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis

				a.btn(href="#") посмотреть все услуги
				p.
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 

				a.btn(href="#") посмотреть все услуги 
				p.
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.   

				a.btn(href="#") посмотреть все услуги 

			.section-1__contacts
				p.phone
					small (000)
					| 999-88-77
				p.email info@cybertrest.ru
				p.skype skype: cybertrest

	.section-1__bg-bottom
		.wrap-devices
			.device.device_1
			.device.device_2
				.toggle-imgs
					.img-tooltips
						.img-tooltips__img
							img(src="user_files/section1/wolf.png", alt="", width="168", height="268")
						.img-tooltips__tooltips.
							Lorem ipsum dolor sit amet, onsectetur adipisicing elit, sed	
			.device.device_3