section.section-5
	h1.section-5__title Услуги и Портфолио
	
	.list-services
		.servies
			h2.servies__title

			.wrap-scroll
				ul
					li.
						Lorem ipsum dolor sit.
					li.
						Lorem ipsum dolor sit.
					li.
						Lorem ipsum dolor sit.
					li.
						Lorem ipsum dolor sit.

			.servies__footer
				a.servies__btn.servies__btn_1(href="#")
				a.servies__btn.servies__btn_2(href="#")
				a.servies__btn.servies__btn_3(href="#")