section.section-3
	h1.section-3__title Сравнение с конкурентамИ

	.list-advants
		.advant
			.advant__inner
				.advant__img
					img(src="user_files/section3/img-1.png", alt="")
				.advant__text
					p.
						В случайных компаниях
						работы могут растянуться
						на неопределенный срок и
						обрасти побочными тратами
		.advant
			.advant__inner
				.advant__img
					img(src="user_files/section3/img-2.png", alt="")
				.advant__text
					p.
						Мы всегда соблюдаем сроки
						и рассчитываем проект
						с точностью до рубля
		.advant
			.advant__inner
				.advant__img
					img(src="user_files/section3/img-3.png", alt="")
				.advant__text
					p.
						Перечень услуг не полон
						и для некоторых работ вам
						придется искать исполнителя
						самостоятельно
		.advant
			.advant__inner
				.advant__img
					img(src="user_files/section3/img-4.png", alt="")
				.advant__text
					p.
						К вашим услугам все
						необходимые в данном
						направлении специалисты
		.advant
			.advant__inner
				.advant__img
					img(src="user_files/section3/img-5.png", alt="")
				.advant__text
					p.
						Сайт выглядит красиво,
						но продвигать в поисковых
						системах его долго и дорого,
						как и вносить изменения
		.advant
			.advant__inner
				.advant__img
					img(src="user_files/section3/img-6.png", alt="")
				.advant__text
					p.
						Мы сразу создаем сайт,
						удобный для продвижения
						и использования