section.technology
	h1.technology__titlt Список используемых технологий.

	.technology__list.carousel

		.carousel__container
			.carousel__item
				img(src="#", alt="")

			.carousel__item
				img(src="#", alt="")

			.carousel__item
				img(src="#", alt="")

			.carousel__item
				img(src="#", alt="")

			.carousel__item
				img(src="#", alt="")

		.carousel__nav
			.carousel__btn.carousel__btn_left
			.carousel__btn.carousel__btn_right
