section.technology
	
		h1.container.technology__title.title Список используемых технологий.

		.technology__list.carousel

			.carousel__container
				.carousel__item
					img(src="img/technology/gulp.png", alt="")

				.carousel__item
					img(src="img/technology/css.png", alt="")

				.carousel__item
					img(src="img/technology/sass.png", alt="")

				.carousel__item
					img(src="img/technology/grunt.png", alt="")

				.carousel__item
					img(src="img/technology/backbone.png", alt="")

				.carousel__item
					img(src="img/technology/html.png", alt="")

				.carousel__item
					img(src="img/technology/jade.png", alt="")

				.carousel__item
					img(src="img/technology/js.png", alt="")

				.carousel__item
					img(src="img/technology/jQuery.png", alt="")

				.carousel__item
					img(src="img/technology/less.png", alt="")

				.carousel__item
					img(src="img/technology/ajax.png", alt="")

				.carousel__item
					img(src="img/technology/git.png", alt="")

			.carousel__nav
				.carousel__btn.carousel__btn_left
				.carousel__btn.carousel__btn_right
