header.topline
	
	.container
		nav.topline__nav
			ul
				li
					a(href="#") О компании
				li
					a(href="#") преимущества
				li
					a(href="#") оставить заявку
				li
					a(href="#") магазин
				li
					a(href="#") услуги и портфолио
				li
					a(href="#") порядок работы
				li
					a(href="#") отзывы
				li
					a(href="#") контакты

		a.topline__logo(href="#")
			.inner
				| Кибер<span>тресТ</span>
				small с нами очень хорошо!

