section.works
	.container
		h1.works__title Ознокомтесь со списком моих работ.
		
		.works__desc
			p.
				Здесь предоставленны последние и самые на мой взгляд интересные проекты. 
			p.
				=Описания того как пользоватся портфолио=

		.works__list
			.work
				.work__img
					img(src="img/portfolio/glad.jpg", alt="")
				.work__more 
					a.btn(href="#") Подробнее...

				.work__title
					h2.
						Glad - изготовления мебели под заказ

			.work
				.work__img
					img(src="img/portfolio/glad.jpg", alt="")
				.work__more 
					a.btn(href="#") Подробнее...

				.work__title
					h2.
						Glad - изготовления мебели под заказ

			.work
				.work__img
					img(src="img/portfolio/glad.jpg", alt="")
				.work__more 
					a.btn(href="#") Подробнее...

				.work__title
					h2.
						Glad - изготовления мебели под заказ

			.work
				.work__img
					img(src="img/portfolio/glad.jpg", alt="")
				.work__more 
					a.btn(href="#") Подробнее...

				.work__title
					h2.
						Glad - изготовления мебели под заказ

			.work
				.work__img
					img(src="img/portfolio/glad.jpg", alt="")
				.work__more 
					a.btn(href="#") Подробнее...

				.work__title
					h2.
						Glad - изготовления мебели под заказ

			.work
				.work__img
					img(src="img/portfolio/glad.jpg", alt="")
				.work__more 
					a.btn(href="#") Подробнее...

				.work__title
					h2.
						Glad - изготовления мебели под заказ