section.works
	.container
		h1.works__title.title Ознокомтесь со списком моих работ.
		
		.works__desc
			p.
				Здесь предоставлены последние и самые на мой взгляд интересные проекты.

		.works__list
			.work
				.work__img
					img(src="img/portfolio/eminembook.jpg", alt="")
				.work__more
					.inner 
						//a.btn(href="#") Подробнее...
						a.btn(href="portfolio/eminembook/index.html")  Мои исходники
						a.btn(href="http://www.eminembook.ru") Смотреть в web

				.work__title
					h2.
						Eminembook - Лендинг для продажи книги.			

			.work
				.work__img
					img(src="img/portfolio/maggy.jpg", alt="")
				.work__more
					.inner 
						//a.btn(href="#") Подробнее...
						a.btn(href="portfolio/maggy/index.html")  Мои исходники

				.work__title
					h2.
						Maggy - Продажа женских сумок.

			.work
				.work__img
					img(src="img/portfolio/mastervan.jpg", alt="")
				.work__more
					.inner 
						//a.btn(href="#") Подробнее...
						a.btn(href="portfolio/mastervann/index.html") Мои исходники
						a.btn(href="http://test.cuberto.ru/MasterVann/desktop/index.html", target='_blank') Смотреть в web

				.work__title
					h2.
						Мастер ванн - Ремонт ванных комнат «под ключ»

			.work
				.work__img
					img(src="img/portfolio/glad.jpg", alt="")
				.work__more
					.inner 
						//a.btn(href="#") Подробнее...
						a.btn(href="portfolio/glad/index.html") Мои исходники
						a.btn(href="#") Смотреть в web

				.work__title
					h2.
						Glad - Изготовления мебели под заказ

			.work
				.work__img
					img(src="img/portfolio/start.jpg", alt="")
				.work__more
					.inner 
						//a.btn(href="#") Подробнее...
						a.btn(href="portfolio/startvisual/index.html") Мои исходники
						a.btn(href="http://oliwlife.ru/works/blik/startvisual/", target='_blank') Смотреть в web

				.work__title
					h2.
						Start Visual - Creative agency.

			.work
				.work__img
					img(src="img/portfolio/blik.jpg", alt="")
				.work__more
					.inner 
						//a.btn(href="#") Подробнее...
						a.btn(href="portfolio/blik/index.html") Мои исходники
						a.btn(href="http://m-blik.ru/", target='_blank') Смотреть в web

				.work__title
					h2.
						Блик - Ваш лучший выбор окон

			.work
				.work__img
					img(src="img/portfolio/smashurbanmedia.jpg", alt="")
				.work__more
					.inner 
						//a.btn(href="#") Подробнее...
						a.btn(href="") Мои исходники
						a.btn(href="#") Смотреть в web

				.work__title
					h2.
						Smash Urban Media - Web-студия.

			.work
				.work__img
					img(src="img/portfolio/packetraket.jpg", alt="")
				.work__more
					.inner 
						//a.btn(href="#") Подробнее...
						a.btn(href="portfolio/paketraket/index.html") Мои исходники
						a.btn(href="http://paket-raket.ru/", target='_blank') Смотреть в web

				.work__title
					h2.
						Пакет Ракет - Молодая и талантливая кавер-группа.

			.work
				.work__img
					img(src="img/portfolio/digifly.jpg", alt="")
				.work__more
					.inner 
						//a.btn(href="#") Подробнее...
						a.btn(href="portfolio/digifly/index.html") Мои исходники
						a.btn(href="http://digifly.com.ua/", target='_blank') Смотреть в web

				.work__title
					h2.
						DigiFly - Профессиональное инспектирование и аэросъемка 

			.work
				.work__img
					img(src="img/portfolio/fresh.jpg", alt="")
				.work__more
					.inner 
						//a.btn(href="#") Подробнее...
						a.btn(href="portfolio/fresh/index.html") Мои исходники
						a.btn(href="http://freshproduction.ru/", target='_blank') Смотреть в web

				.work__title
					h2.
						Fresh Production - Video and advertising solutions

			.work
				.work__img
					img(src="img/portfolio/kolagold.jpg", alt="")
				.work__more
					.inner 
						//a.btn(href="#") Подробнее...
						a.btn(href="http://kolagold.ru/", target='_blank') Смотреть в web

				.work__title
					h2.
						Kola Gold - Ювелирная мастерская Евгения Баранова

			.work
				.work__img
					img(src="img/portfolio/beacongrid.jpg", alt="")
				.work__more
					.inner 
						//a.btn(href="#") Подробнее...
						a.btn(href="portfolio/beacongrid/index.html") Мои исходники
						a.btn(href="https://www.beacongrid.com/", target='_blank') Смотреть в web

				.work__title
					h2.
						Beacongrid - Mobile engagement platform for commercial buildings.


	//- modal windows
	//include ../content/modal/_eminembook.jade