.modal-works
	.modal-works__title eminembook
	.modal-works__desc Лединг для продажи книги.
	.modal-works__content
		p.
			Адаптированая верстка. разные css эффекты. Js реализации нескольких видов слайдера и главная навигация  по сайту плагин отцентровки видео по экрану и скрипт по работе с видео.
			Php + ajax реализация виджета рейтинга 

